<span id="about-sec"></span>
<div class="about-sec">
    <div class="profile-img">
        <img src="assets/pic3.jpeg" alt="profile pic">
    </div>
    <div class="info-sec">
            <h2> Isnagarapu Naga Pavan Kumar</h2>
            <p class="position"> Sr. Java developer</p>
            <p>A highly skilled and dynamic Software Engineer with over 8+ years of proven experience in application development. Expertise includes modern frameworks and technologies such as Angular (12+), TypeScript, JavaScript, and jQuery, complemented by proficiency in HTML5, CSS3, SCSS, Bootstrap, reactJS, RxJs, Restful, GraphQL, NPM, Jenkins, git.</p>
            <p>Proficient in leveraging responsive design frameworks like Bootstrap and Tailwind CSS, SCSS and experienced in optimizing workflows with advanced build tools like NPM. Adept at creating intuitive and high-performance user interfaces, adhering to best practices in code quality and scalability.</p>
            <p>
                Experienced in agile methodologies, leading design, coding, testing, and task automation in collaboration with the Agile
                development team.
            </p>
            <ol>
                <div class="butn-sec">
                    <button (click)="setPath('cv')" data-bs-toggle="modal" data-bs-target="#staticCVpopup"> Download CV </button>
                    <button (click)="setPath('cl')"  data-bs-toggle="modal" data-bs-target="#staticCVpopup"> Download Cover Letter </button>
                </div>
            </ol>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticCVpopup" tabindex="-1" aria-labelledby="openCVpopup" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="openCVpopup">CV View</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-modal></app-modal>
      </div>
    </div>
  </div>
</div>