<p class="divider"></p>
<div id="experience" class="experiences">
    <h2>Professional Experience</h2>
    <ul class="expr-list">
        <li class="exp-item">
            <div class="inner-list">
                <h5>Sr. Front End Developer</h5>
                <p class="company">Electrum Inc. (formaly Pickup My Solar Pvt Ltd.)</p>
                <span class="special">Nov 2022 - May 2024</span>
                <p><span class="bold">Skills Used:</span> Angular12+, JavaScript, Typescript, Reat JS, Bootstrap, HTML5, CSS3, SCSS,REST API, RxJS, GraphQL, NPM</p>
                <ul>
                    <li>Integrated advanced features to manage dynamic market conditions, tailored for a renewable energy resources product-based organization. These features were seamlessly incorporated into a single injection application, enabling deployment into the client domain with a single HTML tag.</li>
                    <li>Researched, designed, and successfully implemented Single Sign-On (SSO) integration between Salesforce, the injection process, and the client application, without external assistance.</li>
                    <li>Contributed as an architect by concluding the adoption of server-side rendering (SSR) to meet project objectives effectively.</li>
                </ul>
            </div>
        </li>
        <li class="exp-item">
            <div class="inner-list">
                <h5>Developer II</h5>
                <p class="company">RealPage Inc.</p>
                <span class="special">Oct 2020 - Nov 2022</span>
                <p><span class="bold">Skills Used:</span> Angular 10+, AngularJS, JavaScript,Typescript, JavaScript, HTML5, SCSS, jQuery</p>
                <ul>
                    <li>Directed the design, development, and enhancement of user interfaces by creating and optimizing multiple front-end web application frameworks.</li>
                    <li>Utilized a diverse range of technologies, including Angular 10+,AngularJS, HTML5, CSS3, Bootstrap, Angular Material, and REST APIs, to deliver robust front-end solutions and REST APIs</li>
                    <li>Integrated organization owned RAUL Material with Angular and advanced front-end development best practices, leveraging Angular 10 and recently upgrading to Angular 12 for enhanced performance and maintainability.</li>
                </ul>
            </div>
        </li>
        <li class="exp-item">
            <div class="inner-list">
                <h5>Software Engineer</h5>
                <p class="company">Optum Global Solutions Pvt Ltd.</p>
                <span class="special">Jan 2018 - Aug 2019</span>
                <p><span class="bold">Skills Used:</span> Angular 6, Typescript, JavaScript, HTML5, CSS3, JS, jQuery, JSON, Adobe Experience Manager 6.2</p>
                <ul>
                    <li>Led the design, execution, and improvement of UI by developing multiple front-end web application frameworks</li>
                    <li>Employed a diverse set of technologies such as Angular 12+, HTML5, CSS3, Bootstrap, RxJS, and REST APIs</li>
                    <li>Developed innovative user-facing features and crafted reusable code libraries for future implementation</li>
                </ul>
            </div>
        </li>
        <li class="exp-item">
            <div class="inner-list">
                <h5>Sr. Software Engineer</h5>
                <p class="company">HCL Technologies Ltd. (Client: Optum Global Solutions)</p>
                <span class="special">July 2017 - Jan 2018</span>
                <p><span class="bold">Skills Used:</span> Angular 6, Typescript, JavaScript, HTML5, CSS3, JS, jQuery, JSON, Adobe Experience Manager 6.2</p>
                <ul>
                    <li>Crafted a Single Page Application (SPA) using Angular-6, integrating REST APIs to access all data in JSON format and facilitating content updates for authors via Adobe Experience Manager 6.2</li>
                    <li>Engineered a responsive design compatible with IE11, Mozilla Firefox, Chrome, and Safari, as well as Android and iOS devices of varying screen sizes (Desktops, Tablets, Mobile devices) utilizing CSS3 and Media Queries</li>
                    <li>Orchestrated unit testing for code paths to efficiently diagnose and rectify issues</li>
                </ul>
            </div>
        </li>
        <li class="exp-item">
            <div class="inner-list">
                <h5>Jr. Software Engineer</h5>
                <p class="company">People Tech Group Inc.</p>
                <span class="special">May 2016 - May 2017</span>
                <p><span class="bold">Skills Used:</span> AngularJS, JavaScript, HTML5, CSS3, JS, jQuery</p>
                <ul>
                    <li>Developed a robust web application using the AngularJS framework, integrated with REST APIs for enhanced functionality.</li>
                    <li>Addressed software defects and managed the code merging process via GIT to maintain code integrity and consistency</li>
                    <li>Assisted QA teams in issue analysis by delivering crucial project metrics and data, facilitating effective problem-solving</li>
                </ul>
            </div>
        </li>
        <h2 class="mid-head"> Education</h2>
        <li class="exp-item">
            <div class="inner-list">
                <h5>Bachelor of Technology</h5>
                <p class="company">B.V. Raju Institute of Technology (JNTU Hyderabad, India)</p>
                <span class="special">2011 - 2014</span>
                <p>Computer Science and Engineering</p>
            </div>
        </li>
    </ul>
</div>