<p class="divider"></p>
<div id="experience" class="experiences">
    <h2>Professional Experience</h2>
    <ul class="expr-list">
        <li class="exp-item">
            <div class="inner-list">
                <h5>Sr. Front End Developer</h5>
                <p class="company">Electrum Inc</p>
                <span class="special">Nov 2022 – Mar 2024</span>
                <p><span class="bold">Skills Used: </span>Angular (14+) · Angular CLI · System Performance · Node.js · Figma (Software) · JavaScript · Business Applications · TypeScript · Performance Improvement · JSON · JavaScript Frameworks · Amazon Web Services (AWS) · Angular Material · Bootstrap · HTML · REST APIs · SCSS · React.js · GraphQL · Responsive Design · Git BASH · jQuery
                </p>
                <ul>
                    <li>Lead various web development projects, managing timelines, coordinating with team members, and ensuring successful project completion within budget </li>
                    <li>Developing new user-facing features using technologies such as HTML5, CSS3, JavaScript, Angular, and other relevant frameworks </li>
                    <li>Providing mentorship and guidance to junior front-end developers, fostering an environment of continuous learning and improvement </li>
                    <li>Excellent collaboration and communication skills, effectively working with designers, backend developers, and stakeholders. </li>
                    <li>Thorough understanding of CSS and CSS preprocessors (LESS, SASS) principles with a clear ideology for managing maintainable, scalable and cross-browser code</li>
                </ul>
            </div>
        </li>
        <li class="exp-item">
            <div class="inner-list">
                <h5>Sr. Software Engineer</h5>
                <p class="company">RealPage Inc</p>
                <span class="special">Oct 2020 – Nov 2022</span>
                <p><span class="bold">Skills Used: </span>Angular 10+, AngularJS, Typescript, JavaScript, RAUL Material (REAL PAGE), Bootstrap, HTML5, CSS3, SCSS</p>
                <ul>
                    <li>Involved in developing the UI pages using HTML5, DHTML, CSS3, JavaScript, JSON, jQuery, Ajax. </li>
                        <li>Wrote a combination of JQuery plugins, as well as completely custom JavaScript to build a bleeding-edge, AJAX-driven user interface </li>
                        <li>Used Angular JS to implement MVC pattern. </li>
                        <li>Developed single page web application using JavaScript framework Angular JS. </li>
                        <li>Implemented UI/UX best practices to display the Bellman-Ford instance, RSS feeds and relevant live market information using d3.js, Map box and other JS libraries. </li>
                        <li>Implemented a security module in Angular JS which integrated with the spring security in the backend with Authentication and Authorization </li>
                        <li>Hands on experience with Object Oriented JavaScript code and responsible for client-side validations using Angular Directives and JQuery functions.</li>
               </ul>
            </div>
        </li>
        <li class="exp-item">
            <div class="inner-list">
                <h5>Software Engineer</h5>
                <p class="company">Optum Global Solutions</p>
                <span class="special">Jan 2018 – Aug 2019</span>
                <p><span class="bold">Skills Used: </span>Angular 6, Typescript, JavaScript, HTML5, CSS3, JS, jQuery, JSON, (ADA) requirements, NVDA, Consortium (W3C), WCAG standards, Lighthouse, Adobe Experience Manager 6.2</p>
                <ul>
                    <li>Employed a diverse set of technologies such as Angular 12+, HTML5, CSS3, SCSS, Bootstrap, RxJS, and REST APIs Adapted MVC (Model-View-Controller) design pattern using AngularJS. </li>
                    <li>Created Responsive Designs (Mobile/Tablet/Desktop) using HTML5 & CSS3. </li>
                    <li>Expertise in client scripting language and server scripting languages like JavaScript, JQuery, JSON, bootstrap, Node JS, Angular JS. </li>
                    <li>Good Knowledge in Angular.js, Backbone.js, D3.js and Twitter Bootstrap. </li>
                    <li>Extensive experience in creating style guides, best practices and setting UI standards for enterprise/consumer applications using Bootstrap. </li>
                    <li>Expert in Various Agile methodologies like SCRUM, Test Driven Development (TTD), Incremental and Iteration methodology, Pair Programming, Agile Development &Testing using Software Development Life Cycle.</li>
                </ul>
            </div>
        </li>
        <li class="exp-item">
            <div class="inner-list">
                <h5> Software Engineer</h5>
                <p class="company">HCLTech (Client: Optum Global Solutions)</p>
                <span class="special">Jul 2017 – Jan 2018</span>
                <p><span class="bold">Skills Used: </span>AngularJS, JavaScript, HTML5, CSS3, Bootstrap, jQuery</p>
                <ul>
                    <li>Creating Front-end Applications using HTML5, CSS3, JavaScript, JQuery, AJAX, XML and JSON. </li>
                    <li>Functionalities include writing code in HTML, CSS, JavaScript, JQuery, JSP and making using of Bootstrap framework and testing the functionalities using JUnit. </li>
                    <li>Worked with the team, helping them build out their markup and CSS. My Specialty is large scale CSS (Sass), focusing on reusability and modularity. </li>
                    <li>Web application development for backend using Angular JS with cutting edge HTML5 and CSS3 techniques</li>
                    <li>Familiar with concepts of Directives, Data-Binding and Dependency Injection in Angular JS. </li>
                    <li>Worked extensively on web 2.0 migration from Conventional Web Frame work to Ajax driven framework and extensively used JQuery, Dojo, YUI, AJAX and MVC in Presentation Layer.</li>
                </ul>
            </div>
        </li>
        <li class="exp-item">
            <div class="inner-list">
                <h5>Jr. Software Engineer</h5>
                <p class="company">People Tech Group Inc.</p>
                <span class="special">May 2016 – May 2017</span>
                <p><span class="bold">Skills Used:</span> AngularJS, JavaScript, HTML5, CSS3, Bootstrap, jQuery</p>
                <ul>
                    <li>Participated in requirements gathering, analysis, Conceptual Design and Details. </li>
                    <li>Implemented AJAX based UI with above said Architecture with Rich Internet UI in modules.</li>
                    <li>Implemented AJAX driven UI Element and Search Algorithm using Ajax. </li>
                    <li>Manipulated CSS, HTML and DHTML, JavaScript for presenting appealing GUI. </li>
                    <li>Worked on jQuery extensively for various user interactions, front-end validations and other visual effects. </li>
                    <li>Worked extensively on web 2.0 migration from Conventional Web Frame work to Ajax driven framework and extensively used jQuery, Dojo, YUI, AJAX and MVC in Presentation Layer.</li>
                </ul>
            </div>
        </li>
        <h2 class="mid-head"> Education</h2>
        <li class="exp-item">
            <div class="inner-list">
                <h5>Bachelor of Technology</h5>
                <p class="company">B.V. Raju Institute of Technology (JNTU Hyderabad, India)</p>
                <span class="special">Jun 2011 Mar 2014</span>
                <p>• Computer Science and Engineering</p>
            </div>
        </li>
    </ul>
</div>