<p class="divider"></p>
<div id="contact" class="contact">
    <h2>Contact Information</h2>
    <ol>
        <li><span class="bold">Naga Pavan Kumar, Isnagarapu</span></li>
        <li><span class="bold">Email ID: </span> <a href="mailto:inagapkumar@gmail.com">inagapkumar&#64;gmail.com </a></li>
        <li><span class="bold">Phone: </span><a href="tel:+15109472671"> +1 (510) 947 2671</a></li>
        <li><span class="bold">LinkedIn: </span> <a href="https://www.linkedin.com/in/pavan-kumar-software-engineer-it/">pavan-kumar-software-engineer-it</a> </li>
    </ol>
    <ul>
        <!-- <li><img src="assets/spring-tool.jpg" /></li> -->
        <li><img src="assets/html.svg" /></li>
        <li><img src="assets/css.svg" /></li>
        <li><img src="assets/bootstrap.svg" /></li>
        <li><img src="assets/angular.svg" /></li>
        <li><img src="assets/Typescript.svg" /></li>
        <li><img src="assets/javascript.svg" /></li>
        <li><img src="assets/Git.svg" /></li>
        <li><img src="assets/postman.svg" /></li>
        <li><img src="assets/jira.svg" /></li>
        <li><img src="assets/docker.svg" /></li>
    </ul>
</div>
