@use "../../styles/rules" as *;

.contact {
    display: block;
    margin: 0 auto;
    width: 75%;
    padding: 100px 0;
    h2 {padding-bottom: 32px;}
    ol {
        font-size: 20px;
        list-style: none;
        li span.bold { font-weight: 600;}
        li {
            padding-bottom: 14px;
        }
    }
    a {
        text-decoration: none;
        color: $myColor;
    }
    ul {
        margin-top: 20%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-self: center;
        gap: 40px;
        li img { 
            width: 45px;
            opacity: 0.5;
        }
    }
} 

@media only screen and (max-width: 768px) {
    .contact{
        width: 100%;
        padding: 16px;
        h2 {
            padding: 16px 0 16px 8px;
        }
        ol{
            font-size: 14px;
            padding-left: 16px;
            li {
                padding: 5px;
            }
        }
        ul {
            margin: 45px auto;
            li img { width: 20px;}
            gap: 10px;
            padding-left: 16px;
        }
    } 
}