<div class="main">
  <header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top nav-custom" [class.scrolled]="isScrolled">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#test">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="test">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)" (click)="scrollTo('home-section')">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)" (click)="scrollTo('about-sec')">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)" (click)="scrollTo('experience')">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)" (click)="scrollTo('contact')">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <app-home></app-home>
</div>

<app-about></app-about>

<app-experience></app-experience>

<app-contact></app-contact>
