<p class="divider"></p>
<span id="testimonials"></span>
<div class="testimonials">
    <h2>Testimonials</h2>
    <div class="test-sec">
        <img src="assets/test2.jpg" />
        <div class="text-sec">
            <span class="title">Ritvik Giri</span> <br/>
            <i>Back End Developer at <b>Electrum</b></i><br/>
            <p>
                <span class="quote"><i class="fa-solid fa-quote-left"></i></span>
                <span> I had the pleasure of working with Pavan Kumar at Electrum, where they showcased exceptional frontend expertise in Angular, React, and modern web technologies. Their ability to architect scalable solutions, optimize performance, and seamlessly integrate with backend services made a significant impact on our projects. Pavan Kumar is not only technically strong but also a great team player, always proactive in solving challenges and ensuring smooth collaboration between frontend and backend teams.</span>
                <span class="quote"><i class="fa-solid fa-quote-right"></i></span>
            </p>
        </div>
    </div>
    <div class="test-sec reverse">
        <img src="assets/test3.jpg" />
        <div class="text-sec">
            <span class="title">Surya P</span> <br/>
            <i>Sr. QA Engineer at <b>Electrum</b></i><br/>
            <p>
                <span class="quote"><i class="fa-solid fa-quote-left"></i></span>
                <span> Working with Pavan Kumar at Electrum was a great experience. Their attention to detail in frontend development made testing and quality assurance much smoother. Pavan Kumar was always proactive in addressing UI/UX issues, debugging efficiently, and collaborating closely with the QA team to ensure a seamless user experience. Their technical expertise and problem-solving skills truly added value to the project.</span>
                <span class="quote"><i class="fa-solid fa-quote-right"></i></span>
            </p>
        </div>
    </div>
    <div class="test-sec">
        <img src="assets/test1.jpg" />
        <div class="text-sec">
            <span class="title">Narendra Sangam</span> <br/>
            <i>Sr. Manager, Product Development at <b>RealPage</b></i><br/>
            <p>
                <span class="quote"><i class="fa-solid fa-quote-left"></i></span>
                <span> I had the pleasure of working with Pavan Kumar at RealPage, where they were instrumental in building and enhancing complex UI applications using Angular and JavaScript. Their deep understanding of front-end technologies, combined with a keen eye for UI/UX best practices, made a significant impact on our projects. Pavan Kumar was proactive, solution-oriented, and always eager to take on challenges—making them a valuable asset to the team.</span>
                <span class="quote"><i class="fa-solid fa-quote-right"></i></span>
            </p>
        </div>
    </div>
</div>