<p class="divider"></p>
<span id="testimonials"></span>
<div class="testimonials">
    <h2>Testimonials</h2>
    <div class="test-sec">
        <img src="assets/test1.jpg" />
        <div class="text-sec">
            <span class="title">Narendra Sangam</span> <br/>
            <i>Sr. Manager, Product Development at <b>RealPage</b></i><br/>
            <p>
                <span class="quote"><i class="fa-solid fa-quote-left"></i></span>
                <span> I had the pleasure of working with Pavan Kumar at RealPage, where they played a key role in delivering high-quality solutions. Their ability to tackle complex problems with a structured approach and collaborate seamlessly with the team made a significant impact. Pavan Kumar was always proactive, bringing fresh ideas and ensuring projects stayed on track—I truly enjoyed working with them and highly recommend their expertise.</span>
                <span class="quote"><i class="fa-solid fa-quote-right"></i></span>
            </p>
        </div>
    </div>
    <div class="test-sec reverse">
        <img src="assets/test1.jpg" />
        <div class="text-sec">
            <span class="title">Narendra Sangam</span> <br/>
            <i>Sr. Manager, Product Development at <b>RealPage</b></i><br/>
            <p>
                <span class="quote"><i class="fa-solid fa-quote-left"></i></span>
                <span> I had the pleasure of working with Pavan Kumar at RealPage, where they played a key role in delivering high-quality solutions. Their ability to tackle complex problems with a structured approach and collaborate seamlessly with the team made a significant impact. Pavan Kumar was always proactive, bringing fresh ideas and ensuring projects stayed on track—I truly enjoyed working with them and highly recommend their expertise.</span>
                <span class="quote"><i class="fa-solid fa-quote-right"></i></span>
            </p>
        </div>
    </div>
    <div class="test-sec">
        <img src="assets/test1.jpg" />
        <div class="text-sec">
            <span class="title">Narendra Sangam</span> <br/>
            <i>Sr. Manager, Product Development at <b>RealPage</b></i><br/>
            <p>
                <span class="quote"><i class="fa-solid fa-quote-left"></i></span>
                <span> I had the pleasure of working with Pavan Kumar at RealPage, where they played a key role in delivering high-quality solutions. Their ability to tackle complex problems with a structured approach and collaborate seamlessly with the team made a significant impact. Pavan Kumar was always proactive, bringing fresh ideas and ensuring projects stayed on track—I truly enjoyed working with them and highly recommend their expertise.</span>
                <span class="quote"><i class="fa-solid fa-quote-right"></i></span>
            </p>
        </div>
    </div>
</div>